@use "../../base" as *;

.view-sponsors-page,
.sponsor-listing {
  margin-bottom: 8em;

  .view-content {
    border-radius: 0.5em;
    padding: 1em;
    background: $white;
  }

  h2 {
    margin: 0;
    border-bottom: 0.125em solid rgba($primary-darkest, 1);
    padding-bottom: 0.125em;
    text-align: center;
  }
}

.view-group--sponsors-page,
.sponsor-listing .view-content {
  @include clearfix;

  padding: 1.5em 0 2em;
  margin: 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;

  @include breakpoint($xsmall-max) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint($small-max) {
    grid-template-columns: repeat(3, 1fr);
  }

  h2 {
    margin-top: 40px;
  }

  p {
    font-size: 0.75em;
    font-style: italic;
  }
}

.sponsor {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 2px 4px 0 rgba(0, 0, 0, 0.1);

  a::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  img {
    object-fit: contain;
    height: 140px;
  }

  a:hover img {
    opacity: 0.5; // Hover effect for logos
  }
}

.block-views-blocksponsors-homepage-core-sponsors {
  padding: 1em;
  background: $white;
  padding-top: 2rem;

  h2 {
    margin-top: 0;
    text-align: center;
  }

  .view-content {
    padding: 1.5em 0;
    margin: 0;
    text-align: center;
    display: block;
  }

  p {
    margin-bottom: 0;
    text-align: center;
  }

  .view-footer a {
    font-style: italic;
  }

  @include breakpoint($small-max) {
    padding-top: 0;
  }
}
