@use "../base/variables/colors";

.field--name-field-session-co-presenter-s- {
  .tabledrag-toggle-weight {
    letter-spacing: normal;
    background: transparent;
    color: colors.$color-primary;
    text-transform: inherit;
    font-weight: normal;
    padding: 0;

    &:hover {
      color: colors.$primary-darkest;
      text-decoration: underline;
    }
  }

  h4 {
    margin: 0;
  }
}

.nodetype--session .views-field-speakers {
  margin-bottom: 1rem;
}
