@use "../../../base/variables/colors";

// Link
//
// Markup: a.twig
//
// Style guide: atoms.a
a {
  color: colors.$link;
  cursor: inherit;
}

a:visited {
  color: colors.$link-visited;
}

a:hover {
  color: colors.$primary-darkest;
  text-decoration: underline;
  cursor: pointer;
}

a:focus {
  color: colors.$link-focus;
}
