@use "../../../base/variables/colors";

// Blockquote
//
// Markup: blockquote.twig
//
// Style guide: atoms.blockquote
blockquote {
  padding: 0 15px;
  color: colors.$gray;
  border-left: 4px solid colors.$off-white;

  &:last-child {
    margin-bottom: 0;
  }
}
