@use "../../base" as *;

.region-branding {
  .block-system-menublock ul.menu {
    @extend %no-ul-list;
  }
}

.site-branding-text {
  padding: 30px 10px 10px;
  font-size: 135%;
}

// logo values
div.site-branding a.logo {
  width: 105px;
  display: block;
  padding: 5px 5px 0;
  float: left;
  margin-bottom: 5px;
}

#branding {
  display: none;

  @include breakpoint($medium-max) {
    display: block;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 2;

    .region-branding {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      max-width: 1200px;
      margin: auto;
    }
  }
}
